## IDEs
.idea/

## AI Assistants
.claude
CLAUDE.md

## Environment properties
config.toml
config.*.toml
.env
.venv

## outputs
locallogs/
.coverage
vendor/
/.kreuzberg/
scripts/output/

## test artifacts
MagicMock/
__pycache__/
**/__pycache__/

## Mac-Files
.DS_Store
